[defaults]
remote_user = ansible
remote_tmp = /home/ansible/.ansible/tmp
local_tmp = /home/ansible/.ansible/tmp
interpreter_python = auto_silent
inventory = /opt/ansible/inventory.ini
host_key_checking = False
vault_password_file = /etc/ansible-vault-password

collections_path = /opt/ansible/collections:/home/ansible/.ansible/collections:/usr/share/ansible/collections
roles_path = /opt/ansible/roles

[privilege_escalation]
become = True
become_method = sudo
become_flags = "-H -S"

