[Unit]
Description=OpenClaw Gateway
After=network.target

[Service]
Type=simple
User={{ openclaw_user }}
Group={{ openclaw_group }}
WorkingDirectory=/home/{{ openclaw_user }}

Environment=NODE_ENV=production

ExecStart={{ openclaw_npm_prefix.stdout | trim }}/bin/openclaw gateway run --bind lan --port {{ openclaw_gateway_port }} --allow-unconfigured

Restart=on-failure
RestartPreventExitStatus=78
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
